@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.cyber360-logo {
    width: 45px;
    height: 52px;
}

#navItem1 {
    color: #0da2d4;
    font-family: "Courier New", Sans-Serif;
    font-weight: 800;
}

#navItem2 {
    color: #0da2d4;
    font-family: "Courier New", Sans-Serif;
    font-weight: 800;
}

#navItem3 {
    color: #0da2d4;
    font-family: "Courier New", Sans-Serif;
    font-weight: 800;
}

#navItem4 {
    color: #0da2d4;
    font-family: "Courier New", Sans-Serif;
    font-weight: 800;
}

.banner-section-bg-container {
    background-image: url("https://i.ibb.co/mR4SH6J/cyber360-bg-img1.png");
    height: 100vh;
    background-size: cover;
}

.banner-section {
    padding-right: 4vw;
    padding-left: 4vw;
}

h1 {
    color: #0b1b63;
    font-family: "Courier New", Sans-Serif;
    font-weight: 800;
    font-size: 32px;
}

h2 {
    font-weight: 600;
    color: #14114a;
}

.banner-heading {
    color: #32b4cf;
}

.banner-caption {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
}


@media (max-width: 568px) {
    .banner-caption{
        
       font-size: 20px;
    }

    .banner-heading{
        margin-top: 50px;
        padding-top: 10px;
    }
}

@media (max-width: 522px) {
    .banner-heading{
        margin-top: 70px;
        padding-top: 10px;
    }
}

@media (max-width: 474px) {
    .banner-heading{
        padding-top: 30px;
    }

    .banner-caption{
        padding-bottom: 10px;
        font-size: 15px;
    }
}


@media (max-width: 443px) {
    .banner-heading{
        padding-top: 70px;
    }

    .banner-caption{
        font-size: 15px;
    }
}

.wcu-section {
    background-color: #f9fbfe;
}

.wcu-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.wcu-card {
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
}

.wcu-card-image {
    width: 87px;
    height: 90px;
    border-radius: 16px;
}

.wcu-card-title {
    font-family: "Courier New", Sans-Serif;
    font-size: 20px;
}

.wcu-card-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
}

.explore-menu-section {
    background-color: white;
}

.menu-item-image {
    border-radius: 16px;
}

.menu-card-title {
    font-family: "Courier New", Sans-Serif;
    font-size: 18px;
    margin-top: 24px;
}

.menu-item-link {
    color: #0a4091;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.menu-item-card {
    border-radius: 16px;
}

.healthy-food-section {
    background-color: #f9fbfe;
}

/* .form-group { */
    /* margin-right: 20px; */
/* } */


/* .career-container { */
    /* margin: 15px; */
    /* padding: 20px; */
    /* background-color: #ffffff; */
    /* border-radius: 15px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
/* } */
/*  */
/* .career-box{ */
/*  */
    /* height: 650px; */
/* } */
/* .career-heading { */
    /* text-align: center; */
/* } */
/*  */
/* .career-para { */
    /* color: #5a7184; */
    /* font-family: "Roboto"; */
    /* font-size: 17px; */
    /* padding: 20px; */
/* } */
/*  */
/* .form-group { */
    /* margin: 20px; */
    /* width: 30%; */
    /*  */
/* } */

/* career-page css :start */
.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("./career\ 7.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;

}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    border-radius: 2px;
    background-color: #0da2d4;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #0da2d4;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn h2{
    background-color: #0da2d4;
    color: white;
    size: 10px;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}
/* career page css :end */







label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 5px;
    border: 2px solid #bbc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.follow-us-section {
    background-color: white;
}

.follow-us-section-heading {
    text-align: center;
}

.follow-us-icon-container {
    background-color: #c7dbec;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 15px;
    padding: 22px;
}

.icon {
    color: #0d0778;
    font-size: 35px;
}

.footer-section {
    background-color: #0b092e;
    font-family: "Roboto";
}

.cyber360-logo2 {
    width: 68px;
    height: 80px;
}

.cyber360-name {
    color: #32b4cf;
    font-size: 28px;
    font-weight: 700;
    font-family: "Courier New", Sans-Serif;
    margin-top: 20px;
}

.footer-section-mail-id {
    color: #959ead;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

.footer-section-address {
    color: #c7dbec;
    font-size: 14px;
}

.cyber360-mail {
    color: #c7dbec;
}

.copyright-section {
    color: #c7dbec;
    font-size: 10px;
}


@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 70px;
    width: 150px;
    margin: 0 40px;
  }


/* Media query for mobile devices */
@media (max-width: 768px) {
    h1 {
        font-size: 7vw;
        /* Adjust the font size for mobile */
        font-weight: 800;
        /* Adjust the font weight for mobile */
    }

    h2 {
        font-weight: 800;
    }

    p,
    span {
        font-family: 'Roboto';
        font-size: 5vw;
        /* Add other styling properties like font-size, font-weight */

    }

    .form-group{
        width: 90%;
    }
}